Repository getdokan/dokan, pull requests merged in 2024-10, with the labels that each got.

#2384 Add product categories & tags tests
  tests/pw/feature-map/feature-map.yml
  tests/pw/pages/productsPage.ts
  tests/pw/tests/e2e/euCompliance.spec.ts
  tests/pw/tests/e2e/payments.spec.ts
  tests/pw/tests/e2e/productsDetails.spec.ts
  tests/pw/utils/payloads.ts
Labels: QA approved, Test Automation

#2385 Add: add product form tests (gallery, description)
  tests/pw/feature-map/feature-map.yml
  tests/pw/pages/productsPage.ts
  tests/pw/tests/e2e/productsDetails.spec.ts
Labels: QA approved, Test Automation

#2387 Add & Refactor vendor payment tests
  tests/pw/feature-map/feature-map.yml
  tests/pw/pages/paymentsPage.ts
  tests/pw/tests/e2e/payments.spec.ts
  tests/pw/utils/dbData.ts
  tests/pw/utils/helpers.ts
  tests/pw/utils/testData.ts
Labels: QA approved, Test Automation

#2386 Add $data parameter to dokan_update_vendor hook
  includes/Vendor/Manager.php
Labels: :+1: Dev Review Done, Need Dev Review Only

#2389 Add: add product form tests (download options, inventory)
  tests/pw/feature-map/feature-map.yml
  tests/pw/pages/productsPage.ts
  tests/pw/tests/e2e/productsDetails.spec.ts
  tests/pw/tests/e2e/vendorSettings.spec.ts
Labels: QA approved, Test Automation

#2393 Add: product form tests (other options, catalog)
  tests/pw/feature-map/feature-map.yml
  tests/pw/pages/loginPage.ts
  tests/pw/pages/productsPage.ts
  tests/pw/tests/e2e/productsDetails.spec.ts
  tests/pw/tests/e2e/vendorSettings.spec.ts
Labels: QA approved, Test Automation

#2394 Update RFQ tests for new changes
  tests/pw/pages/basePage.ts
  tests/pw/pages/privacyPolicyPage.ts
  tests/pw/pages/requestForQuotationsPage.ts
  tests/pw/pages/selectors.ts
  tests/pw/pages/singleStorePage.ts
  tests/pw/pages/vendorPage.ts
  tests/pw/pages/vendorVerificationsPage.ts
  tests/pw/tests/api/quoteRequests.spec.ts
  tests/pw/tests/e2e/catalogmode.spec.ts
  tests/pw/tests/e2e/requestForQuoteRules.spec.ts
  tests/pw/tests/e2e/requestForQuotes.spec.ts
  tests/pw/tests/e2e/vendorStaff.spec.ts
  tests/pw/utils/dbUtils.ts
  tests/pw/utils/interfaces.ts
  tests/pw/utils/payloads.ts
  tests/pw/utils/schemas.ts
  tests/pw/utils/testData.ts
Labels: QA approved, Test Automation

#2395 Add: add product form test(attribute, bulk discount, geolocation)
  tests/pw/feature-map/feature-map.yml
  tests/pw/pages/productsPage.ts
  tests/pw/tests/e2e/productsDetails.spec.ts
Labels: QA approved, Test Automation

#2396 Add: add product tests (product addon, rma)
  tests/pw/feature-map/feature-map.yml
  tests/pw/pages/productsPage.ts
  tests/pw/pages/requestForQuotationsPage.ts
  tests/pw/tests/e2e/productAddons.spec.ts
  tests/pw/tests/e2e/productsDetails.spec.ts
Labels: Test Automation

#2397 Add: add product form tests (wholesale, min-max)
  tests/pw/feature-map/feature-map.yml
  tests/pw/pages/productsPage.ts
  tests/pw/tests/e2e/productsDetails.spec.ts
  tests/pw/tests/e2e/requestForQuoteRules.spec.ts
Labels: QA approved, Test Automation

#2392 Implement order trash and untrash handling for Dokan
  includes/Order/Controller.php
  includes/Order/OrderEventListener.php
  tests/php/src/Order/OrderEventListenerTest.php
Labels: QA approved, :+1: Dev Review Done, Changelog Updated, Upcoming Release

#2377 fix: dokan js translation loading
  includes/Assets.php
  package.json
  src/utils/Mixin.js
  src/utils/i18n.js
  webpack.config.js
Labels: QA approved, :+1: Dev Review Done, Dependency With Pro, Upcoming Release

#2388 Update testing docs: Order Factory meta data and request methods
  docs/tdd/factories.md
  docs/tdd/get-started.md
Labels: :+1: Dev Review Done, Need Dev Review Only

#2368 Add actions before and after deleting product(s).
  includes/Dashboard/Templates/Products.php
  includes/Product/Hooks.php
Labels: :+1: Dev Review Done

#2409 [fix] Dokan localize_data not found
  .eslintrc
  includes/Assets.php
  src/admin/main.js
Labels: QA approved, :+1: Dev Review Done, urgent

#2411 Fix flaky tests
  tests/pw/package-lock.json
  tests/pw/package.json
  tests/pw/pages/productsPage.ts
  tests/pw/pages/selectors.ts
  tests/pw/pages/vendorAuctionsPage.ts
  tests/pw/tests/api/_env.setup.ts
  tests/pw/tests/e2e/_env.setup.ts
  tests/pw/tests/e2e/coupons.spec.ts
  tests/pw/tests/e2e/productAddons.spec.ts
  tests/pw/tests/e2e/products.spec.ts
  tests/pw/tests/e2e/productsDetails.spec.ts
  tests/pw/tests/e2e/wholesale.spec.ts
  tests/pw/utils/apiUtils.ts
  tests/pw/utils/payloads.ts
  tests/pw/utils/schemas.ts
Labels: QA approved, Test Automation

#2406 Feat: Add CustomersController: Vendor-specific CRUD, Batch, and Search API for Customer Management
  composer.lock
  includes/REST/CustomersController.php
  includes/REST/Manager.php
  tests/php/src/REST/CustomersControllerTest.php
Labels: Needs: Testing, Needs: Dev Review

#2312 Refactor/introduce container
  composer.json
  docs/container.md
  dokan-class.php
  dokan.php
  includes/Contracts/Hookable.php
  includes/DependencyManagement/BaseServiceProvider.php
  includes/DependencyManagement/BootableServiceProvider.php
  includes/DependencyManagement/Container.php
  includes/DependencyManagement/ContainerException.php
  includes/DependencyManagement/Definition.php
  includes/DependencyManagement/Providers/AdminServiceProvider.php
  includes/DependencyManagement/Providers/AjaxServiceProvider.php
  includes/DependencyManagement/Providers/CommonServiceProvider.php
  includes/DependencyManagement/Providers/FrontendServiceProvider.php
  includes/DependencyManagement/Providers/ServiceProvider.php
  lib/packages/League/Container/Argument/ArgumentInterface.php
  lib/packages/League/Container/Argument/ArgumentResolverInterface.php
  lib/packages/League/Container/Argument/ArgumentResolverTrait.php
  lib/packages/League/Container/Argument/DefaultValueArgument.php
  lib/packages/League/Container/Argument/DefaultValueInterface.php
  lib/packages/League/Container/Argument/Literal/ArrayArgument.php
  lib/packages/League/Container/Argument/Literal/BooleanArgument.php
  lib/packages/League/Container/Argument/Literal/CallableArgument.php
  lib/packages/League/Container/Argument/Literal/FloatArgument.php
  lib/packages/League/Container/Argument/Literal/IntegerArgument.php
  lib/packages/League/Container/Argument/Literal/ObjectArgument.php
  lib/packages/League/Container/Argument/Literal/StringArgument.php
  lib/packages/League/Container/Argument/LiteralArgument.php
  lib/packages/League/Container/Argument/LiteralArgumentInterface.php
  lib/packages/League/Container/Argument/ResolvableArgument.php
  lib/packages/League/Container/Argument/ResolvableArgumentInterface.php
  lib/packages/League/Container/Container.php
  lib/packages/League/Container/ContainerAwareInterface.php
  lib/packages/League/Container/ContainerAwareTrait.php
  lib/packages/League/Container/Definition/Definition.php
  lib/packages/League/Container/Definition/DefinitionAggregate.php
  lib/packages/League/Container/Definition/DefinitionAggregateInterface.php
  lib/packages/League/Container/Definition/DefinitionInterface.php
  lib/packages/League/Container/DefinitionContainerInterface.php
  lib/packages/League/Container/Exception/ContainerException.php
  lib/packages/League/Container/Exception/NotFoundException.php
  lib/packages/League/Container/Inflector/Inflector.php
  lib/packages/League/Container/Inflector/InflectorAggregate.php
  lib/packages/League/Container/Inflector/InflectorAggregateInterface.php
  lib/packages/League/Container/Inflector/InflectorInterface.php
  lib/packages/League/Container/ReflectionContainer.php
  lib/packages/League/Container/ServiceProvider/AbstractServiceProvider.php
  lib/packages/League/Container/ServiceProvider/BootableServiceProviderInterface.php
  lib/packages/League/Container/ServiceProvider/ServiceProviderAggregate.php
  lib/packages/League/Container/ServiceProvider/ServiceProviderAggregateInterface.php
  lib/packages/League/Container/ServiceProvider/ServiceProviderInterface.php
  lib/packages/Psr/Container/ContainerExceptionInterface.php
  lib/packages/Psr/Container/ContainerInterface.php
  lib/packages/Psr/Container/NotFoundExceptionInterface.php
Labels: QA approved

#2318 Enhancement: Make analytics reports compatible with Dokan
  docs/analytics/reports.md
  includes/Analytics/Reports/BaseQueryFilter.php
  includes/Analytics/Reports/Categories/QueryFilter.php
  includes/Analytics/Reports/Categories/Stats/QueryFilter.php
  includes/Analytics/Reports/Coupons/QueryFilter.php
  includes/Analytics/Reports/Coupons/Stats/QueryFilter.php
  includes/Analytics/Reports/Coupons/Stats/WcDataStore.php
  includes/Analytics/Reports/Customers/QueryFilter.php
  includes/Analytics/Reports/Customers/Stats/QueryFilter.php
  includes/Analytics/Reports/DataStoreModifier.php
  includes/Analytics/Reports/OrderType.php
  includes/Analytics/Reports/Orders/QueryFilter.php
  includes/Analytics/Reports/Orders/Stats/DataStore.php
  includes/Analytics/Reports/Orders/Stats/QueryFilter.php
  includes/Analytics/Reports/Orders/Stats/ScheduleListener.php
  includes/Analytics/Reports/Orders/Stats/WcDataStore.php
  includes/Analytics/Reports/Products/QueryFilter.php
  includes/Analytics/Reports/Products/Stats/QueryFilter.php
  includes/Analytics/Reports/Products/Stats/WcDataStore.php
  includes/Analytics/Reports/Stock/QueryFilter.php
  includes/Analytics/Reports/Stock/Stats/WcDataStore.php
  includes/Analytics/Reports/Taxes/QueryFilter.php
  includes/Analytics/Reports/Taxes/Stats/QueryFilter.php
  includes/Analytics/Reports/Taxes/Stats/WcDataStore.php
  includes/Analytics/Reports/Variations/QueryFilter.php
  includes/Analytics/Reports/Variations/Stats/QueryFilter.php
  includes/Analytics/Reports/WcSqlQuery.php
  includes/DependencyManagement/Providers/AnalyticsServiceProvider.php
  includes/DependencyManagement/Providers/ServiceProvider.php
  includes/Install/Installer.php
  includes/Order/MiscHooks.php
  includes/Upgrade/Manager.php
  includes/Upgrade/Upgrades.php
  includes/Upgrade/Upgrades/V_3_13_0.php
  tests/php/src/Analytics/Reports/OrderQueryFilterTest.php
  tests/php/src/Analytics/Reports/OrderStatsQueryFilterTest.php
  tests/php/src/Analytics/Reports/OrderStatsScheduleListenerTest.php
  tests/php/src/Analytics/Reports/OrderTypeTest.php
  tests/php/src/Analytics/Reports/ProductQueryFilterTest.php
  tests/php/src/Analytics/Reports/ProductStatsQueryFilterTest.php
  tests/php/src/Analytics/Reports/ReportTestCase.php
  tests/php/src/Analytics/Reports/StockProductQueryFilterTest.php
  tests/php/src/Analytics/Reports/StockStatsQueryFilterTest.php
  tests/php/src/DBAssertionTrait.php
Labels: QA In Progress

#2418 enhance: Hide revenue coupon info from woocommerce analytics report.
  assets/src/js/dokan-admin-analytics.js
  includes/Assets.php
Labels: QA approved, :+1: Dev Review Done
